# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.pub/
coverage/
**/Generated.xcconfig
**/Flutter.podspec
**/Pods/
**/.symlinks/
**/flutter_export_environment.sh
.melos_tool/

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/macOS
**/ios/Flutter/
**/ios/.symlinks
**/ios/Pods/
**/macos/Flutter/
**/macos/Pods/

# VSCode/IntelliJ
.vscode/
.idea/

# Misc
.DS_Store
